# Chave secreta (substituir por uma segura)
SECRET_KEY=coloque_sua_chave_aqui

# Configurações do banco de dados
DB_USER=postgres
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_DATABASE=nome_do_banco
DB_PORT=5432