
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: black
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fdfdfd;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.formCriar {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.formLogin h1, .formCriar h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p, .formCriar p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input, .formCriar input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 15px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus, .formCriar input:hover {
    border: 1px solid #008080;
}

.formLogin label, .formCriar label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a, .formCriar a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover, .formCriar a:hover {
    color: #008080;
}

.btn {
    background-color: #008080;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    border-radius: 15px;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #008080;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #008080;
  display: flex;

}


ul li a {
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #fff;
  color: #008080;
}

.saudacao {
    list-style-type: none;
    margin-left: 60px;
    padding: 0px;
}

.alltopics {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;                             
    justify-items: center;                 
    align-items: center;                   
    width: 100%;
    min-height: 40vh;
    background-color: #fdfdfd;
    padding: 20px;                         
    box-sizing: border-box;                
}

.formLogin p:last-of-type {
    margin-bottom: 0;
}

.topics {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    padding: 15px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.topics img{
    height: 50px;
}

.alltopics h2{
    padding: 0;
    margin: 15px;
    font-weight: 500;
    font-size: 1.8em;
}

.alltopics p{
    font-size: 14px;
    color: #666;
    margin: 15px;
}

.alltopics a{
    display: block;
    color: #008080;
    padding: 14px 16px;
    text-decoration: none;
}