<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="page">
        <form method="POST" action="" class="formCriar">
            <h1>Inscreva-se</h1>
            <p>Digite seus dados para criar sua conta.</p>
            <label for="name">Nome</label>
            <input type="text" id="name" placeholder="Digite seu nome" autofocus="true" required/>

            <label for="lastname">Sobrenome</label>
            <input type="text" id="lastname" placeholder="Digite seu sobrenome" autofocus="true" required/>

            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite seu e-mail" autofocus="true" required/>

            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha" required/>

            <label for="passwordConfirmation">Confirme a senha</label>
            <input type="password" id="passwordConfirmation" placeholder="Confirme sua senha" required/>
            
            <button type="submit" class="btn">Criar</button>

        </form>
    </div>
</body>
</html>