<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Sair</a></li>
        </ul>
    </nav>
    <div class="saudacao">
        <p>Gerencie por aqui seus templates e documentos</p>
    </div>
    <div class="alltopics">
        <div class="topics">
            <p>Templates Criados</p>
            <p>0</p>
        </div>
        <div class="topics">
            <p>Documentos Gerados</p>
            <p>0</p>
        </div>
        <div class="topics">
            <p>Variáveis Disponíveis</p>
            <p>0</p>
        </div>
        <a href="templates.html">
            <div class="topics">
                <img src="style/images/doc.png" alt="doc icon">
                <div class="text">
                    <h2>Meus templates</h2>
                    <p>Gerencie seus templates aqui</p>
                </div>
            </div>
        </a>
        <a href="cadastro_template.html">
            <div class="topics">
            <img src="style/images/plus.png" alt="plus icon">
            <div class="text">
                <h2>Criar Template</h2>
                <p>Crie um novo template aqui</p>
            </div>
        </div>
        </a>
        <a href="gerarTemplates.html">
            <div class="topics">
                <img src="style/images/pencil.png" alt="plus icon">
                <div class="text">
                    <h2>Gerar documento</h2>
                    <p>Gere seus documentos aqui a partir dos templates</p>
                </div>
            </div>
        </a>
    </div>
</body>
</html>