<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page">
        <form method="POST" action="" class="formLogin">
            <h1>Login</h1>
            <p>Digite suas credenciais para acessar o sistema.</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" required/>

            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha" required/>
            
            <a href="">Esqueci minha senha</a>
            <button type="submit" class="btn">Login</button>

            <p>Ainda não tem uma conta? <a href="cadastro_usuario.html">Inscreva-se!</a></p>
        </form>
    </div>
</body>
</html>